/* 
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("https://i.pinimg.com/736x/81/12/93/81129364fd7b2a5ee4b302d55f4736ce.jpg ");
  background-repeat: no-repeat;
  background-size: cover;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.header {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 2.5rem;
  color: #333; 
}


.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.product-card {
  width: calc(25% - 20px);
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-info {
  padding: 20px;
}

.product-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}

.product-description {
  font-size: 1rem;
  color: #777;
}


.loading {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin-top: 20px;
} */

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.scroll-to-top:hover {
  background-color: #f2f2f2;
  transform: translateY(-3px);
}

.scroll-to-top img {
  width: 40px;
  height: 40px;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333; /* Dark background color */
}

.logo {
  color: #fff; /* White color for logo */
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff; /* White color for links */
  text-decoration: none;
}

.nav-links li a:hover {
  color: #ccc; /* Light gray color on hover */
}
