

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.scroll-to-top:hover {
  background-color: #f2f2f2;
  transform: translateY(-3px);
}

.scroll-to-top img {
  width: 40px;
  height: 40px;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  color: #fff; /* White color for logo */
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff; /* White color for links */
  text-decoration: none;
}

.nav-links li a:hover {
  color: #ccc; /* Light gray color on hover */
}
